@font-face {
    font-family: 'Open Sans - Semibold';
    src: url(../fonts/OpenSansSemibold.ttf);
}
@font-face {
    font-family: "Myriad Pro";
    src: url(../fonts/MyriadPro-Regular.ttf);
}
a {
    text-decoration: none;
}

h1 {
    /* Style for "Best Softw" */
    color: #192b59;
    font-family: "Open Sans - Semibold", serif;
    font-size: 40px;
    font-weight: 400;
}


.nav {
    color: #6e7ea9;
    font-family: "Open Sans", serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2.4px;
}
.logo {
    font-family: "Open Sans", serif;
    width: 113px;
    height: 19px;
    color: #192b59;
    font-size: 24px;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
}
.logo a img {
    float: left;
}

.btn_primary {
    color: #ffffff;
    font-size: 12px;
    font-width: 700;
    text-transform: uppercase;
    background-color: #1085e4;
    padding: 20px 30px;
    border-radius: 30px;
}
.btn_secondary {
    color: #7e8bae;
    font-size: 12px;
    font-width: 700;
    text-transform: uppercase;
    background-color: #cbdbe8;
    padding: 20px 30px;
    border-radius: 30px;
}
.btn_free {
    font-weight: 400;
    letter-spacing: 1.7px;
    padding: 21px 56px;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;

}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    font-weight: 700;
    display: block;

}

.grid_item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid_item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}
