@font-face {
    font-family: 'Open Sans - Semibold';
    src: url(../fonts/OpenSansSemibold.ttf);
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;

}

a {
    text-decoration: none;
}

h1 {
    /* Style for "Best Softw" */
    color: #192b59;
    font-family: "Open Sans - Semibold", serif;
    font-size: 40px;
    font-weight: 400;
}

.nav {
    color: #6e7ea9;
    font-family: "Open Sans", serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn_free {
    color: #ffffff;
    font-family: "Open Sans", serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #1085e4;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;

}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    font-weight: 700;
    display: block;

}

.grid_item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid_item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}
